<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Jwt authenticaton Demo</h2>
    <h3>Using Nodejs,Express Js,Mongodb</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>
